**HTML Parser for NHANES Data Dictionary Information**

With the Diet & Behavior Quality section as a test case, extract the question information from the

In [1]:
from bs4 import BeautifulSoup
import urllib.request
import re

In [2]:
url = urllib.request.urlopen("https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DBQ_J.htm")

nhanes_dbq = url.read()

nhanes_dbq_html= BeautifulSoup(nhanes_dbq, "html.parser")

*If needed, write HTML to file*

In [ ]:
filename = input("Save as, including '.html':")

with open(filename, "w", encoding="utf-8") as file:
    file.write(str(nhanes_dbq_html))

*If desired or needed, open html file*

In [8]:
with open("nhanes_dbq.html") as file:
    nhanes_dbq = file.read()

nhanes_dbq_html= BeautifulSoup(nhanes_dbq, "html.parser")

***Parse NHANES Data***

In [16]:
body = nhanes_dbq_html.body

print(body)

<body class="nhanes-doc">
<div id="toc">
<h3>Table of Contents</h3>
<div id="toc-scroll">
<ul>
<li>
<a href="#Component_Description">Component Description</a>
</li>
<li>
<a href="#Eligible_Sample">Eligible Sample</a>
</li>
<li>
<a href="#Interview_Setting_and_Mode_of_Administration">Interview Setting and Mode of Administration</a>
</li>
<li>
<a href="#Quality_Assurance_&amp;_Quality_Control">Quality Assurance &amp; Quality Control</a>
</li>
<li>
<a href="#Data_Processing_and_Editing">Data Processing and Editing</a>
</li>
<li>
<a href="#Analytic_Notes">Analytic Notes</a>
</li>
<li>
<a href="#Codebook">Codebook</a>
<ul id="CodebookLinks">
<li>
<a href="#SEQN">SEQN - Respondent sequence number</a>
</li>
<li>
<a href="#DBQ010">DBQ010 - Ever breastfed or fed breastmilk</a>
</li>
<li>
<a href="#DBD030">DBD030 - Age stopped breastfeeding(days)</a>
</li>
<li>
<a href="#DBD041">DBD041 - Age first fed formula(days)</a>
</li>
<li>
<a href="#DBD050">DBD050 - Age stopped receiving formula(days)</a>
</li>
<li>
<a href="#DBD055">DBD055 - Age started other food/beverage</a>
</li>
<li>
<a href="#DBD061">DBD061 - Age first fed milk(days)</a>
</li>
<li>
<a href="#DBQ073A">DBQ073A - Type of milk first fed - whole milk</a>
</li>
<li>
<a href="#DBQ073B">DBQ073B - Type of milk first fed - 2% milk</a>
</li>
<li>
<a href="#DBQ073C">DBQ073C - Type of milk first fed - 1% milk</a>
</li>
<li>
<a href="#DBQ073D">DBQ073D - Type of milk first fed - fat free milk</a>
</li>
<li>
<a href="#DBQ073E">DBQ073E - Type of milk first fed - soy milk</a>
</li>
<li>
<a href="#DBQ073U">DBQ073U - Type of milk first fed - other</a>
</li>
<li>
<a href="#DBD085">DBD085 - CHECK ITEM </a>
</li>
<li>
<a href="#DBQ700">DBQ700 - How healthy is the diet</a>
</li>
<li>
<a href="#DBQ197">DBQ197 - Past 30 day milk product consumption</a>
</li>
<li>
<a href="#DBQ223A">DBQ223A - You drink whole or regular milk</a>
</li>
<li>
<a href="#DBQ223B">DBQ223B - You drink 2% fat milk</a>
</li>
<li>
<a href="#DBQ223C">DBQ223C - You drink 1% fat milk</a>
</li>
<li>
<a href="#DBQ223D">DBQ223D - You drink fat free/skim milk</a>
</li>
<li>
<a href="#DBQ223E">DBQ223E - You drink soy milk</a>
</li>
<li>
<a href="#DBQ223U">DBQ223U - You drink another type of milk</a>
</li>
<li>
<a href="#DBD225">DBD225 - CHECK ITEM</a>
</li>
<li>
<a href="#DBQ229">DBQ229 - Regular milk use 5 times per week</a>
</li>
<li>
<a href="#DBQ235A">DBQ235A - How often drank milk age 5-12</a>
</li>
<li>
<a href="#DBQ235B">DBQ235B - How often drank milk age 13-17</a>
</li>
<li>
<a href="#DBQ235C">DBQ235C - How often drank milk age 18-35</a>
</li>
<li>
<a href="#DBD265a">DBD265a - CHECK ITEM</a>
</li>
<li>
<a href="#DBQ301">DBQ301 - Community/Government meals delivered</a>
</li>
<li>
<a href="#DBQ330">DBQ330 - Eat meals at Community/Senior center</a>
</li>
<li>
<a href="#DBD355">DBD355 - CHECK ITEM</a>
</li>
<li>
<a href="#DBQ360">DBQ360 - Attend kindergarten thru high school</a>
</li>
<li>
<a href="#DBQ370">DBQ370 - School serves school lunches</a>
</li>
<li>
<a href="#DBD381">DBD381 - # of times/week get school lunch</a>
</li>
<li>
<a href="#DBQ390">DBQ390 - School lunch free, reduced or full price</a>
</li>
<li>
<a href="#DBQ400">DBQ400 - School serve complete breakfast each day</a>
</li>
<li>
<a href="#DBD411">DBD411 - # of times/week get school breakfast</a>
</li>
<li>
<a href="#DBQ421">DBQ421 - School breakfast free/reduced/full price</a>
</li>
<li>
<a href="#DBQ422">DBQ422 - CHECK ITEM</a>
</li>
<li>
<a href="#DBQ424">DBQ424 - Summer program meal free/reduced price</a>
</li>
<li>
<a href="#DBD895">DBD895 - # of meals not home prepared</a>
</li>
<li>
<a href="#DBD900">DBD900 - # of meals from fast food or pizza place</a>
</li>
<li>
<a href="#DBD905">DBD905 - # of ready-to-eat foods in past 30 days</a>
</li>
<li>
<a href="#DBD910">DBD910 - # of frozen meals/pizza in past 30 days</a>
</li>
<li>
<a href="#DBQ715a">DBQ715a - CHECK ITEM</a>
</li>
<li>
<a href="#CBQ596">CBQ596 - Heard of My Plate</a>
</li>
<li>
<a href="#CBQ606">CBQ606 - Looked up My Plate on internet</a>
</li>
<li>
<a href="#CBQ611">CBQ611 - Tried My Plate plan</a>
</li>
<li>
<a href="#DBQ930">DBQ930 - Main meal planner/preparer</a>
</li>
<li>
<a href="#DBQ935">DBQ935 - Shared meal planning/preparing duty</a>
</li>
<li>
<a href="#DBQ940">DBQ940 - Main food shopper</a>
</li>
<li>
<a href="#DBQ945">DBQ945 - Shared food shopping duty</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
<div id="wrapper">
<div id="PageHeader">
<h1>National Health and Nutrition Examination Survey</h1>
<h2>2017-2018 Data Documentation, Codebook, and Frequencies</h2>
<h3>Diet Behavior &amp; Nutrition (DBQ_J)</h3>
<h4> Data File: DBQ_J.xpt</h4>
<h5 class="left">First Published: February 2020</h5>
<h5 class="right">Last Revised: NA</h5>
</div>
<div id="Sections">
<h2 id="Component_Description">Component Description</h2><p>The Diet Behavior and Nutrition questionnaire (variable name prefix DBQ) provides personal interview data on various dietary behavior and nutrition related topics. Many of the questions were included in NHANES II (1976-80), Hispanic HANES (1982-84), NHANES III (1988-94), and NHANES 1999-2016. Topics included in the DBQ are: </p>
<ul>
<li>Breastfeeding and other childhood feeding practices (â‰¤ 6 yrs); </li>
<li>Current milk consumption pattern and types of milk (â‰¥ 1 yr); </li>
<li>Milk consumption pattern throughoutÂ life span (â‰¥ 20 yrs); </li>
<li>Community or government meal program participation for seniorsÂ Â (â‰¥ 60 yrs); </li>
<li>School meal program participation (4-19 yrs); </li>
<li>Self-appraised healthfulness level of oneâ€™s own diet (â‰¥ 16 yrs); </li>
<li>Frequency of getting meals prepared away from home (â‰¥ 1 yr); </li>
<li>Frequency of meals gotten from fast-food or pizza places (â‰¥ 1 yr); </li>
<li>Use of convenience foods (â‰¥ 1 yr); </li>
<li>Awareness of My Plate program (â‰¥ 16 yrs); and</li>
<li>Meal planner/shopper/preparer status (â‰¥ 16 yrs). </li>
</ul>
<p>Information on individual participantâ€™s food choices, such as getting meals prepared away from home, meals from fast-food or pizza places, use of convenience foods or ready-to-eat meals bought in stores, and the participantâ€™s awareness of the My Plate program as well as his/her meal planner/shopper/preparer status at home in the DBQ section were collected as part of the core set of the Flexible Consumer Behavior Survey (FCBS) module. The FCBS module has been included in NHANES since 2007, and was developed in collaboration with the Economic Research Service (ERS) of the U.S. Department of Agriculture (USDA). It is designed to collect information on peopleâ€™s knowledge, attitudes, and beliefs toward nutrition and food choices. The FCBS module has two elements: a core set of questions asked during the NHANES household interview, and a supplementary module asked as a telephone follow-up interview with focuses specifically designed for each 2-year data collection cycle. </p>
<p>In addition to questions included in the DBQ section, the 2017-2018 core set of questions for the FCBS module also included questions at participantâ€™s family level. For example, family monthly income and family assets, food expenditures, as well as familyâ€™s participation on federal food assistance programs. The family food expenditures data are released in the Consumer Behavior (CBQ) section, while the monthly income and family assets data are included in the Income (INQ), and food program participation data are included in the Food Security (FSQ) sections.</p>
<p>Data from the phone follow-up FCBS supplementary module are to be released in separate files and made available on the NHANES website as well. Similar to other datasets in the NHANES 2017-2018 release cycle, all FCBS related data files can be linked by the respondent sequence number (SEQN). For more information on the other FCBS related data, refer to the documentation accompanying the datasets.</p><h2 id="Eligible_Sample">Eligible Sample</h2><p>The target age groups for questions in this section vary by the topic. For example, the questions pertaining to infant nutrition and breastfeeding were asked of proxy respondents for children 6 years of age and younger; and senior meal program participation questions were asked of respondents 60 years of age and older. Please review the questionnaire and codebook carefully. Frequency counts were verified during the preparation of the file.</p><h2 id="Interview_Setting_and_Mode_of_Administration">Interview Setting and Mode of Administration</h2><p>Questions on the frequencies of getting meals prepared away from home (DBD895), meals from fast-food or pizza places (DBD900), and use of convenience foods (DBD905 and DBD910) were answered by participants 12-15 years old, at the mobile examination center (MEC), using the Audio Computer Assisted Self-Interview (ACASI) system. The same questions were asked of participants 1-11 years and of participants 16 years and older, in the home, by trained interviewers using the Computer Assisted Personal Interview (CAPI) system. All other questions in this section were asked in the home, as well. </p>
<p>Hand cards showing response categories were also used for some questions. When necessary, the interviewers read the hand cards to respondents. Persons 16 years of age and older and emancipated minors were interviewed directly. A proxy provided information for survey participants who were under 16 years of age and for individuals who could not answer the questions themselves.</p><h2 id="Quality_Assurance_&amp;_Quality_Control">Quality Assurance &amp; Quality Control</h2><p>The CAPI system is programmed with built-in consistency checks to reduce data entry errors. CAPI also uses online help screens to assist interviewers in defining key terms used in the questionnaire. All data was reviewed by the NHANES field office staff for accuracy and completeness.</p><h2 id="Data_Processing_and_Editing">Data Processing and Editing</h2><p>Frequency counts were checked, "skip" patterns were verified, and the reasonableness of question responses was reviewed. Edits were made to some variables to ensure the completeness, consistency, and analytic usefulness of the data. Edits were also made, when necessary, to address data disclosure concerns. When a variable was modified globally, as part of the editing process, the third letter in the variable name was changed from a Q (i.e., DBQ) to a D (i.e., DBD). For example, some data were collected using two variables (a number variable and a unit of measure variable) but combined into a single variable for data release purposes.</p>
<p><strong>DBD020, DBD030, DBD041, DBD050, DBD055, and DBD061</strong> (Breastfeeding and other childhood feeding practices)

<br/>

This information was collected using two-part (number and unit) questions to allow respondents to report the age of interest in days, weeks, months, or years. The released variables were edited to standardize the reported age to number of days, using the following conversion factors: 7 days/week, 30.4 days/month and 365 days/year. If the age for the time stopped breastfeeding (DBD030), or stopped receiving formula (DBD050), or first fed milk (DBD060) was reported as older than 1095 days (3 years), the value was re-coded as "666666." Similarly, if the age for the time first fed formula (DBD041) was reported as older than 365 days (1 year), or the age for the time started other food/beverage than breastmilk/formula was reported as older than 730 days (2 years), the value was re-coded as "666666" as well.</p>
<p><strong>DBD895</strong> (Frequency of getting meals prepared away from home)

<br/>

Respondents were asked how many times they had gotten meals that were prepared away from home in the past 7 days. If the frequency was reported as "never," the value was re-coded as "0." If the frequency was reported more than 21 times per week, the value was re-coded as "5555." </p>
<p><strong>DBD900</strong> (Frequency of getting meals from fast food or pizza places)

<br/>

Respondents were asked how many times they had gotten meals from fast food or pizza places in the past 7 days. If the frequency was reported as "never," the value was re-coded as "0." If the frequency was reported more than 21 times per week, the value was re-coded as "5555."</p>
<p><strong>DBD905 and DBD910</strong> (Use of convenience foods)

<br/>

This information was collected using two-part (number and unit) questions to allow respondents to report the frequency of interest as either per day, per week, or per month. The released variables were edited to standardize the reported frequency to number of times in the last 30 days. If the frequency was reported as "never," the value was re-coded as "0." If the frequency was reported more than 90 times in the last 30 days, the value was re-coded as "6666."</p><h2 id="Analytic_Notes">Analytic Notes</h2><p><strong>DBD895, DBD900, DBD905, and DBD910 </strong>(Frequency of getting meals prepared away from home, frequency of meals got from fast-food or pizza places, and use of convenience foods)

<br/>

These questions were asked as part of household interview for participants 1-11 (proxy interview used) and 16 or more years of age, the interview sample weights may be used in their analysis. However, if the data is joined with other data from the Mobile Examination Center (MEC), the exam sample weights should be used. Analysis of these questions for 12 to 15 year olds should use the exam sample weights because the questions were asked in the MEC for this age group. </p>
<p>Please refer to the <a href="https://wwwn.cdc.gov/nchs/nhanes/analyticguidelines.aspx" target="_blank">NHANES Analytic Guidelines</a> and the on-line <a href="https://wwwn.cdc.gov/nchs/nhanes/tutorials/default.aspx" target="_blank">NHANES Tutorial</a> for further details on the use of sample weights and other analytic issues. Both are available on the NHANES website.</p></div>
<div id="Codebook">
<h2>Codebook and Frequencies</h2>
<div class="pagebreak">
<h3 class="vartitle" id="SEQN">SEQN - Respondent sequence number</h3>
<dl>
<dt>Variable Name: </dt>
<dd class="info">SEQN</dd>
<dt>SAS Label: </dt>
<dd>Respondent sequence number</dd>
<dt>English Text: </dt>
<dd class="info">Respondent sequence number.</dd>
<dt>Target: </dt>
<dd> Both males and females 0 YEARS -

			150 YEARS</dd>
</dl>
</div>
<div class="pagebreak">
<h3 class="vartitle" id="DBQ010">DBQ010 - Ever breastfed or fed breastmilk</h3>
<dl>
<dt>Variable Name: </dt>
<dd class="info">DBQ010</dd>
<dt>SAS Label: </dt>
<dd>Ever breastfed or fed breastmilk</dd>
<dt>English Text: </dt>
<dd class="info">Now I'm going to ask you some general questions about {SP's} eating habits.  Was {SP} ever breastfed or fed breastmilk?</dd>
<dt>Target: </dt>
<dd> Both males and females 0 YEARS -

			6 YEARS</dd>
</dl>
<table class="values">
<thead>
<tr>
<th class="values" scope="column">Code or Value</th>
<th class="values" scope="column">Value Description</th>
<th class="values" scope="column">Count</th>
<th class="values" scope="column">Cumulative</th>
<th class="values" scope="column">Skip to Item</th>
</tr>
</thead>
<tbody>
<tr>
<td class="values" scope="row">1</td>
<td class="values">Yes</td>
<td align="right" class="values">1246</td>
<td align="right" class="values">1246</td>
<td class="values">
</td>
</tr>
<tr>
<td class="values" scope="row">2</td>
<td class="values">No</td>
<td align="right" class="values">283</td>
<td align="right" class="values">1529</td>
<td class="values">DBD041</td>
</tr>
<tr>
<td class="values" scope="row">7</td>
<td class="values">Refused</td>
<td align="right" class="values">0</td>
<td align="right" class="values">1529</td>
<td class="values">DBD041</td>
</tr>
<tr>
<td class="values" scope="row">9</td>
<td class="values">Don't know</td>
<td align="right" class="values">10</td>
<td align="right" class="values">1539</td>
<td class="values">DBD041</td>
</tr>
<tr>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">7715</td>
<td align="right" class="values">9254</td>
<td class="values">
</td>
</tr>
</tbody>
</table>
</div>
<div class="pagebreak">
<h3 class="vartitle" id="DBD030">DBD030 - Age stopped breastfeeding(days)</h3>
<dl>
<dt>Variable Name: </dt>
<dd class="info">DBD030</dd>
<dt>SAS Label: </dt>
<dd>Age stopped breastfeeding(days)</dd>
<dt>English Text: </dt>
<dd class="info">How old was {SP} when {he/she} completely stopped breastfeeding or being fed breastmilk?</dd>
<dt>Target: </dt>
<dd> Both males and females 0 YEARS -

			6 YEARS</dd>
</dl>
<table class="values">
<thead>
<tr>
<th class="values" scope="column">Code or Value</th>
<th class="values" scope="column">Value Description</th>
<th class="values" scope="column">Count</th>
<th class="values" scope="column">Cumulative</th>
<th class="values" scope="column">Skip to Item</th>
</tr>
</thead>
<tbody>
<tr>
<td class="values" scope="row">1 to 1095</td>
<td class="values">Range of Values</td>
<td align="right" class="values">1044</td>
<td align="right" class="values">1044</td>
<td class="values">
</td>
</tr>
<tr>
<td class="values" scope="row">0</td>
<td class="values">Still breastfeeding</td>
<td align="right" class="values">198</td>
<td align="right" class="values">1242</td>
<td class="values">
</td>
</tr>
<tr>
<td class="values" scope="row">666666</td>
<td class="values">More than 1095 days (3-year) old</td>
<td align="right" class="values">2</td>
<td align="right" class="values">1244</td>
<td class="values">
</td>
</tr>
<tr>
<td class="values" scope="row">777777</td>
<td class="values">Refused</td>
<td align="right" class="values">0</td>
<td align="right" class="values">1244</td>
<td class="values">
</td>
</tr>
<tr>
<td class="values" scope="row">999999</td>
<td class="values">Don't know</td>
<td align="right" class="values">2</td>
<td align="right" class="values">1246</td>
<td class="values">
</td>
</tr>
<tr>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">8008</td>
<td align="right" class="values">9254</td>
<td class="values">
</td>
</tr>
</tbody>
</table>
</div>
<div class="pagebreak">
<h3 class="vartitle" id="DBD041">DBD041 - Age first fed formula(days)</h3>
<dl>
<dt>Variable Name: </dt>
<dd class="info">DBD041</dd>
<dt>SAS Label: </dt>
<dd>Age first fed formula(days)</dd>
<dt>English Text: </dt>
<dd class="info">How old was {SP} when {he/she} was first fed formula?</dd>
<dt>Target: </dt>
<dd> Both males and females 0 YEARS -

			6 YEARS</dd>
</dl>
<table class="values">
<thead>
<tr>
<th class="values" scope="column">Code or Value</th>
<th class="values" scope="column">Value Description</th>
<th class="values" scope="column">Count</th>
<th class="values" scope="column">Cumulative</th>
<th class="values" scope="column">Skip to Item</th>
</tr>
</thead>
<tbody>
<tr>
<td class="values" scope="row">1 to 365</td>
<td class="values">Range of Values</td>
<td align="right" class="values">1260</td>
<td align="right" class="values">1260</td>
<td class="values">
</td>
</tr>
<tr>
<td class="values" scope="row">0</td>
<td class="values">Never</td>
<td align="right" class="values">259</td>
<td align="right" class="values">1519</td>
<td class="values">DBD055</td>
</tr>
<tr>
<td class="values" scope="row">666666</td>
<td class="values">More than 365 days (1-year) old</td>
<td align="right" class="values">8</td>
<td align="right" class="values">1527</td>
<td class="values">
</td>
</tr>
<tr>
<td class="values" scope="row">777777</td>
<td class="values">Refused</td>
<td align="right" class="values">0</td>
<td align="right" class="values">1527</td>
<td class="values">
</td>
</tr>
<tr>
<td class="values" scope="row">999999</td>
<td class="values">Don't know</td>
<td align="right" class="values">12</td>
<td align="right" class="values">1539</td>
<td class="values">
</td>
</tr>
<tr>
<td class="values" scope="row">.</td>
<td class="values">Missing</td>
<td align="right" class="values">7715</td>

In [17]:
codebook = body.find_all("div", id = "codebook")
print(codebook)

[]

In [18]:
def element_length(html,index, tag, el_class):
    return len(str(html.find_all("dd", class_ = "info")[index]))

print(len(str(body.find_all("dd", class_ = "info")[2])))

print(element_length(body,2,"dd","info"))

28
28

In [15]:
DBQ_titles = body.find_all("dd", class_ = "info", text = re.compile("DBQ*"))
for i in DBQ_titles:
    print(i)

<dd class="info">DBQ010</dd>
<dd class="info">DBD030</dd>
<dd class="info">DBD041</dd>
<dd class="info">DBD050</dd>
<dd class="info">DBD055</dd>
<dd class="info">DBD061</dd>
<dd class="info">DBQ073A</dd>
<dd class="info">DBQ073B</dd>
<dd class="info">DBQ073C</dd>
<dd class="info">DBQ073D</dd>
<dd class="info">DBQ073E</dd>
<dd class="info">DBQ073U</dd>
<dd class="info">DBD085</dd>
<dd class="info">CHECK ITEM DBD085:  IF SP AGE &lt; 1 GO TO END OF SECTION, ELSE SP AGE 1-15 GO TO DBQ197, OTHERWISE CONTINUE.</dd>
<dd class="info">DBQ700</dd>
<dd class="info">DBQ197</dd>
<dd class="info">HAND CARD DBQ3</dd>
<dd class="info">DBQ223A</dd>
<dd class="info">DBQ223B</dd>
<dd class="info">DBQ223C</dd>
<dd class="info">DBQ223D</dd>
<dd class="info">DBQ223E</dd>
<dd class="info">DBQ223U</dd>
<dd class="info">DBD225</dd>
<dd class="info">CHECK ITEM DBD225:  IF SP AGE 1-19 GO TO DBD355, OTHERWISE CONTINUE.</dd>
<dd class="info">DBQ229</dd>
<dd class="info">HAND CARD DBQ4</dd>
<dd class="info">DBQ235A</dd>
<dd class="info">HAND CARD DBQ5  IF NECESSARY, PROBE FOR USUAL OR MOST COMMON AMOUNT FOR THIS TIME PERIOD</dd>
<dd class="info">DBQ235B</dd>
<dd class="info">HAND CARD DBQ5  IF NECESSARY, PROBE FOR USUAL OR MOST COMMON AMOUNT FOR THIS TIME PERIOD</dd>
<dd class="info">DBQ235C</dd>
<dd class="info">HAND CARD DBQ5  IF NECESSARY, PROBE FOR USUAL OR MOST COMMON AMOUNT FOR THIS TIME PERIOD</dd>
<dd class="info">DBD265a</dd>
<dd class="info">CHECK ITEM DBD265A:  IF SP AGE 20-59, GO TO DBD895, OTHERWISE CONTINUE.

</dd>
<dd class="info">DBQ301</dd>
<dd class="info">DBQ330</dd>
<dd class="info">DBD355</dd>
<dd class="info">CHECK ITEM DBD355: IF SP AGE &gt;=60 or &lt;4, GO TO DBD895, OTHERWISE, CONTINUE.</dd>
<dd class="info">DBQ360</dd>
<dd class="info">DBQ370</dd>
<dd class="info">DBD381</dd>
<dd class="info">DBQ390</dd>
<dd class="info">DBQ400</dd>
<dd class="info">DBD411</dd>
<dd class="info">DBQ421</dd>
<dd class="info">DBQ422</dd>
<dd class="info">CHECK ITEM DBQ422:  IF DBQ390 = CODE 1 OR CODE 2, OR DBQ421 = CODE 1 OR CODE 2, CONTINUE;  OTHERWISE, GO TO DBD895.</dd>
<dd class="info">DBQ424</dd>
<dd class="info">DBD895</dd>
<dd class="info">CAPI INSTRUCTION: IF DBQ381G = 1 OR DBQ.411G = 1, DISPLAY {Please do not include meals provided as part of the school lunch or school breakfast.} IF DBQ.301 = 1 OR DBQ.330 = 1, DISPLAY {Please do not include meals provided as part of the community programs you reported earlier.}  SOFT EDIT:  DISPLAY A MESSAGE FOR ENTRY LARGER THAN "21." - "Unusually large number entered - Please verify - this is more than 3 meals per day, each day during the past 7 days."</dd>
<dd class="info">DBD900</dd>
<dd class="info">CAPI INSTRUCTION:  HARD EDIT NUMBER OF MEALS ENTERED IN DBQ.900 MUST BE EQUAL TO OR LESS THAN NUMBER ENTERED IN DBQ.895.  IF NOT, DISPLAY THE FOLLOWING: "THE NUMBER OF MEALS FROM A FAST FOOD OR PIZZA PLACE CANNOT BE GREATER THAN NUMBER OF MEALS PREPARED AWAY FROM HOME."</dd>
<dd class="info">DBD905</dd>
<dd class="info">DBD910</dd>
<dd class="info">DBQ715a</dd>
<dd class="info">BOX 15a  CHECK ITEM DBQ715a: IF SP AGE &lt; 16, GO TO END OF SECTION.  OTHERWISE, CONTINUE.</dd>
<dd class="info">DBQ930</dd>
<dd class="info">DBQ935</dd>
<dd class="info">DBQ940</dd>
<dd class="info">DBQ945</dd>